@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}
<h1 class="bg-primary ">Thầy ơi 10đ!!!</h1>